.index__count {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: var(--pinkgrey-color);
}

.index__count .count__item {
    border-right: 1px solid var(--brown-color);
}

.index__count .count__item:last-child {
    border: none;
}
.index__count .count__text{
    letter-spacing: 1.7px;
    margin-bottom:16px;
    color: var(--brown-color);
}
.index__count .normal__paragrap{
    line-height: 150%;
    letter-spacing: 0.22px;
}

@media(max-width: 991px){
    .index__count .count__item:nth-child(2){
        border: none;
    }
}

@media(max-width:767px){
    .index__count .count__item{
        border: none;
        margin-bottom: 20px;
    }

    .index__count .count__text{
        margin-bottom: 0;
    }
}