<section class="banner d-flex al-end">
    <div class="banner__text mx-auto black-color">
        <h1 class="text__title">Services</h1>
        <div class="text__footer text-center"><a href="#">Home</a><span
                class="span__margin">/</span><span>Services</span>
        </div>
    </div>
</section>

<style>
    /* banner */
.banner {
    background-image: url(../../assets/banner/banner_services.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 356px;
}

.banner__text {
    text-align: center;
    width: 504px;
    padding-top: 42px;
    padding-bottom: 42px;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    background-color: #fff;
    color: var(--black-color);
}

.text__title {
    font-size: 50px;
    line-height: 62.5px;
    font-weight: 700;
}

.text__footer>a {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1%;
    color: var(--text-color);
}

.text__footer>.span__margin {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1%;
    color: var(--text-color);
    margin-left: 8px;
    margin-right: 8px;
}

.text__footer>span {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 1%;
    color: var(--text-color);
}
</style>