<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../lib/wrapper.css">
    <link rel="stylesheet" href="../common/index__news.css">
    <link rel="stylesheet" href="../common/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="index__news pd-top-bottom">
        <div class="container">
            <div class="news__title text-center mx-auto col-lg-8 col-12">
                <h1 class="title__text">Articles & News</h1>
                <p class="text-normal">It is a long established fact that a reader will be distracted by the of readable
                    content of a page when lookings at its layouts the points of using</p>
            </div>
            <div class="row row__news__list">
                <div class="news__item d-flex col-lg-4 col-md-6 col-12">
                    <div class="news__items__content">
                        <div class="new__item__img">
                            <a href=""><img
                                    src="https://s3-alpha-sig.figma.com/img/f4b2/a97e/4c4f8f5e4759944aaba98a3c6dd3e663?Expires=1693785600&Signature=eVaTNb3gmSa-uNvVLXmxmKnMRt6Z459PqBR5WDsRHMgQ9cZLM8~gjvBrbMtjWRWABRxjIA-ZmfDlXAnjX5zQxXEFZO0WmiviH16ZVO7W9tJ0D6E8AlHcrxUqFWuVMSVRPjM3wfCnxXRSENaVg6LnVmhuKFkwR5NC~Xkmt8fygHFkjXXmY9ArG5cGS9VvfaWJVZ-bafJxs2fk5-c37AlgcDoM1QKTiY06OIRlQtwz0LzMh2QcRQZpl9gYLsaVymMwIVrWoheL~ktNOXj4fPSMDXUBDlNwNVaYCMiBsUH30NxQxYonZ4CriP0xm9Sj6Rkgv9nWyEWj2eSMq6ACN0qqKg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"></a>
                            <a class="text-normal img__text" href="">Kitchan Design</a>
                        </div>
                        <a href="">
                            <h3>Let's Get Solution For Building Construction Work</h3>
                        </a>
                        <div class="new__item__footer d-flex al-ct jct-bw">
                            <p class="text-normal">26 December,2022</p>
                            <li class="article__footer__item"><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
                        </div>
                    </div>
                    <div class="news__items__content">
                        <div class="new__item__img">
                            <a href=""><img
                                    src="https://s3-alpha-sig.figma.com/img/f4b2/a97e/4c4f8f5e4759944aaba98a3c6dd3e663?Expires=1693785600&Signature=eVaTNb3gmSa-uNvVLXmxmKnMRt6Z459PqBR5WDsRHMgQ9cZLM8~gjvBrbMtjWRWABRxjIA-ZmfDlXAnjX5zQxXEFZO0WmiviH16ZVO7W9tJ0D6E8AlHcrxUqFWuVMSVRPjM3wfCnxXRSENaVg6LnVmhuKFkwR5NC~Xkmt8fygHFkjXXmY9ArG5cGS9VvfaWJVZ-bafJxs2fk5-c37AlgcDoM1QKTiY06OIRlQtwz0LzMh2QcRQZpl9gYLsaVymMwIVrWoheL~ktNOXj4fPSMDXUBDlNwNVaYCMiBsUH30NxQxYonZ4CriP0xm9Sj6Rkgv9nWyEWj2eSMq6ACN0qqKg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"></a>
                            <a class="text-normal img__text" href="">Kitchan Design</a>
                        </div>
                        <a href="">
                            <h3>Low Cost Latest Invented Interior Designing <br> Ideas.</h3>
                        </a>
                        <div class="new__item__footer d-flex al-ct jct-bw">
                            <p class="text-normal">26 December,2022</p>
                            <li class="article__footer__item"><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
                        </div>
                    </div>
                    <div class="news__items__content">
                        <div class="new__item__img">
                            <a href=""><img
                                    src="https://s3-alpha-sig.figma.com/img/f4b2/a97e/4c4f8f5e4759944aaba98a3c6dd3e663?Expires=1693785600&Signature=eVaTNb3gmSa-uNvVLXmxmKnMRt6Z459PqBR5WDsRHMgQ9cZLM8~gjvBrbMtjWRWABRxjIA-ZmfDlXAnjX5zQxXEFZO0WmiviH16ZVO7W9tJ0D6E8AlHcrxUqFWuVMSVRPjM3wfCnxXRSENaVg6LnVmhuKFkwR5NC~Xkmt8fygHFkjXXmY9ArG5cGS9VvfaWJVZ-bafJxs2fk5-c37AlgcDoM1QKTiY06OIRlQtwz0LzMh2QcRQZpl9gYLsaVymMwIVrWoheL~ktNOXj4fPSMDXUBDlNwNVaYCMiBsUH30NxQxYonZ4CriP0xm9Sj6Rkgv9nWyEWj2eSMq6ACN0qqKg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"></a>
                            <a class="text-normal img__text" href="">Kitchan Design</a>
                        </div>
                        <a href="">
                            <h3>Best For Any Office & Business Interior <br> Solution</h3>
                        </a>
                        <div class="new__item__footer d-flex al-ct jct-bw">
                            <p class="text-normal">26 December,2022</p>
                            <li class="article__footer__item"><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>