<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../lib/wrapper.css">
    <link rel="stylesheet" href="../common/style.css">
    <link rel="stylesheet" href="../common/index__about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Interno</title>
<body>
    <section class="index__about pd-top-bottom">
        <div class="container">
            <div class="container__about">
                <div class="col-lg-6 col-12 mx-auto text-center">
                    <h1>What the People Thinks About Us</h1>
                </div>
                <div class="about__list col-12 d-flex">
                    <div class="about__item col-lg-4 col-md-6 col-12">
                        <div class="about__item__info">
                            <div class="item__info__image d-flex al-ct">
                                <div class="item__info__image__content">
                                    <img class="img-w-100" src="https://s3-alpha-sig.figma.com/img/e8bb/addf/8e32966a3167fe0e24adec222457809d?Expires=1693785600&Signature=TmBuyDctozk~oCorn3Rm-u5PjJ6OC4FnqK6xrKbI~Fo2hP4Sj~aXzOnMzUzgr3cnoowMfxd3SsKUNk9~95SJhQ4Bzb~J4h81fKAZ21hcsP9548tO54v3cPhjNl47R290o~-Zr23v18xlAVwPb-Ctv26zJ6ZTTg6hyhnCYrSUh-OZXF-H1wlj5OI8aA25LaYWyTVEmecOQdco15IPb5jzUOYtOYHbw5J9HiISW0H6NmCqmcrlXadh47rClMZ~7IU6j3S-v4dkuAGBozUITcdeO-zI4wcqib4HIvh9jzE6zNlNQjM8E6GfVoRMlh7yRIwYKdqV1Ax0gzTRN1G~qSwKyw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
                                </div>
                                <div class="info__text">
                                    <h3>Nattasha Mith</h3>
                                    <p>Sydney, USA</p>
                                </div>
                            </div>
                            <p class="text-normal">Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.</p>
                        </div>
                    </div>
                    <div class="about__item col-lg-4 col-md-6 col-12">
                        <div class="about__item__info">
                            <div class="item__info__image d-flex al-ct">
                                <div class="item__info__image__content">
                                    <img class="img-w-100" src="https://s3-alpha-sig.figma.com/img/b03b/e3c0/c96722f07cbf9ef05b3889e3b15fcf96?Expires=1693785600&Signature=hhhLLd3Zrdr~93bdqzKJSFdv0CX-Y6PczR7a135i6j6NH9dnUEpqNITjC3snDVn~~rXKS7KkfgjXKbmPO9eIvsprecP5JOFAP37j1Hy8CZArBs1ZWbmd35c3NeWPmL-sjeGdy~OjPY5YlZVvyMa42UMtlSGVETJLCnZA7UAk0PzVS75NEvIxfE7FDBGMWGozNQb1xDKVCM6SntJSUaF-GML5e7s-IX8hdf9s4kzNS7vyA-HAi6rPrXF~ff5YiwfueDlpV5ExoGmNhUlP0FF6~Jx43NmCb0HMiU7AWxT1dKDZQ--hM01ODykCtps2Z2HX-955aO3wi0chFSOJtIO32Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
                                </div>
                                <div class="info__text">
                                    <h3>Raymond Galario</h3>
                                    <p>Sydney, Australia</p>
                                </div>
                            </div>
                                <p class="text-normal">Lorem Ipsum is simply dummytext the typesetting industry. Ipsum has been scrambled it to make a type book.</p>
                        </div>
                    </div>
                    <div class="about__item col-lg-4 col-md-6 col-12">
                        <div class="about__item__info">
                            <div class="item__info__image d-flex al-ct">
                                <div class="item__info__image__content">
                                    <img class="img-w-100" src="https://s3-alpha-sig.figma.com/img/837c/9fd4/5e1b3dd9668bca041a933a2d2950c443?Expires=1693785600&Signature=YPVYqgf24rRs~i8pLr3l~Z-3ejaHuPjeCjtqyEqPPJbE50mPJc507xpYeKSqJpI5Px1na8pyDqyG3oH9GWTYZHyBi3WgRCCnpkLJQKmYE3N8rhGhSzV-Cn7i~gh0TlCI-L6oreJD15bek15qxUK2zNIhdytXrtbNJj-d6iWImGAj5xwAJUhVk5WZtozQPm4L7~mF4NevcKpKFp5l2lU-oNSyIIKRTteUlPlIxPIy3whZeGfVO8K-6vZ-QWvdQbNpsz2lE7AMlbC-TJVA2Fpl2brjRtXtTVTSsy0QhWZu1OfMTDB4w7W0x70qff7xmKJ0EtQ4UVb2KKnl14Tlg7wp2Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
                                </div>
                                <div class="info__text">
                                    <h3>Benny Roll</h3>
                                    <p>Sydney, New York</p>
                                </div>
                            </div>
                            <p class="text-normal">Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been scrambled.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>