<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common/index__project.css" />
    <link rel="stylesheet" href="../lib/wrapper.css" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="project__title mx-auto text-center">
          <h1>Follow Our Projects</h1>
          <p class="text-normal">
            It is a long established fact that a reader will be distracted by
            the of readable content of page lookings at its layouts points.
          </p>
        </div>
        <div class="row row__project__list d-flex">
          <div class="project__item col-md-6 col-12">
            <div class="project__item__img">
              <img class="img-w-100" src="../assets/index_project_1.png" />
            </div>
            <div class="item__content d-flex jct-bw al-ct">
              <div class="item__content__text">
                <h3>Modern Kitchan</h3>
                <p class="text-normal">Decor / Artchitecture</p>
              </div>
              <a href="#">
                <img src="../assets/page_project_icon_1.png" />
              </a>
            </div>
          </div>
          <div class="project__item col-md-6 col-12">
            <div class="project__item__img">
              <img class="img-w-100" src="../assets/index_project_2.png" />
            </div>
            <div class="item__content d-flex jct-bw al-ct">
              <div class="item__content__text">
                <h3>Modern Kitchan</h3>
                <p class="text-normal">Decor / Artchitecture</p>
              </div>
              <a href="#">
                <img src="../assets/page_project_icon_1.png" />
              </a>
            </div>
          </div>
          <div class="project__item col-md-6 col-12">
            <div class="project__item__img">
              <img class="img-w-100" src="../assets/index_project_3.png" />
            </div>
            <div class="item__content d-flex jct-bw al-ct">
              <div class="item__content__text">
                <h3>Modern Kitchan</h3>
                <p class="text-normal">Decor / Artchitecture</p>
              </div>
              <a href="#">
                <img src="../assets/page_project_icon_1.png" />
              </a>
            </div>
          </div>
          <div class="project__item col-md-6 col-12">
            <div class="project__item__img">
              <img class="img-w-100" src="../assets/index_project_4.png" />
            </div>
            <div class="item__content d-flex jct-bw al-ct">
              <div class="item__content__text">
                <h3>Modern Kitchan</h3>
                <p class="text-normal">Decor / Artchitecture</p>
              </div>
              <a href="#">
                <img src="../assets/page_project_icon_1.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
