<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../lib/wrapper.css">
    <link rel="stylesheet" href="../common/style.css">
    <link rel="stylesheet" href="../common/page_pricing/page_pricing.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Interno</title>
</head>

<body>
    <section class="head d-flex al-ct">
        <div class="container d-flex jct-bw al-ct p-relative">
            <div class="logo d-flex al-ct">
                <a href="../index.html" class="logo__img"><img src="../assets/logo/Logo.png" alt="Logo"></a>
                <a href="../index.html" class="logo__text">
                    <p>Interno</p>
                </a>
            </div>
            <div class="menu d-flex jct-bw al-ct">
                <div class="menu__list">
                    <ul class="list__items d-flex">
                        <li><a href="../index.html">Home</a></li>
                        <li class="list__items__2"><a href="">Pages</a>
                            <ul class="sub__menu">
                                <li><a href="../layout/page_about.html">Pages Listing</a></li>
                                <li><a href="../layout/page_pricing.html">Pages Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="../layout/page_services.html">Services</a></li>
                        <li><a href="../layout/page_project.html">Project</a></li>
                        <li><a href="../layout/page_article.html">Blog</a></li>
                        <li><a href="../layout/page_team.html">Contact</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-magnifying-glass menu__search"></i>
            </div>
            <div class="trigger"><i class="fa-solid fa-bars"></i></div>
        </div>
    </section>
    <section class="banner d-flex al-end">
        <div class="banner__text mx-auto black-color">
            <h1 class="text__title">Pricing & Plan</h1>
            <div class="text__footer text-center"><a href="#">Home</a><span
                    class="span__margin">/</span><span>Pricing</span>
            </div>
        </div>
    </section>
    <section class="plan">
        <div class="container">
            <div class="row row__plan__list">
                <div class="plan__item__cover col-lg-4 col-md-6 col-12 mx-auto">
                    <div class="plan__item mx-auto">
                        <div class="plan__date">
                            <h3 class="date__title">Design advices</h3>
                            <p class="date__big d-flex jct-ct"><span class="dollar">$</span>29</p>
                            <p class="date__time">/month</p>
                        </div>
                        <div class="plan__text d-flex jct-ct al-ct">
                            <div class="plan__text__list">
                                <ul>
                                    <li>General living space advices</li>
                                    <li>Rennovation advices</li>
                                    <li>Interior design advice</li>
                                    <li>Furniture reorganization</li>
                                    <li>Up to 5 hours meetings</li>
                                </ul>
                                <div class="mx-auto d-flex al-ct jct-ct">
                                    <a href="" class="btn__pricing">Get Started<i
                                            class="fa-solid fa-arrow-right arrow-black"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan__item__cover col-lg-4 col-md-6 col-12 mx-auto">
                    <div class="plan__item mx-auto">

                        <div class="plan__date">
                            <h3 class="date__title">Complete interior</h3>
                            <p class="date__big d-flex jct-ct"><span class="dollar">$</span>39</p>
                            <p class="date__time">/month</p>
                            <p class="plan__item__text">Most Popular Plans</p>
                        </div>
                        <div class="plan__text d-flex jct-ct al-ct">
                            <div class="plan__text__list">
                                <ul>
                                    <li>Complete home redesign</li>
                                    <li>Interior and exterior works</li>
                                    <li>Modular interior planning</li>
                                    <li>Kitchen design</li>
                                    <li>Garages organization</li>
                                </ul>
                                <div class="mx-auto d-flex al-ct jct-ct">
                                    <a href="" class="btn__pricing ">Get Started<i
                                            class="fa-solid fa-arrow-right arrow-black"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="plan__item__cover col-lg-4 col-md-6 col-12 mx-auto">
                    <div class="plan__item mx-auto">

                        <div class="plan__date">
                            <h3 class="date__title">Furniture design</h3>
                            <p class="date__big d-flex jct-ct"><span class="dollar">$</span>59</p>
                            <p class="date__time">/month</p>
                        </div>
                        <div class="plan__text d-flex jct-ct al-ct">
                            <div class="plan__text__list">
                                <ul class="plan__text__list">
                                    <li>Furniture for living room</li>
                                    <li>Furniture refurbishment</li>
                                    <li>Sofas and amchairs</li>
                                    <li>Tables and chairs</li>
                                    <li>Kitchens</li>
                                </ul>

                                <div class="mx-auto d-flex al-ct jct-ct">
                                    <a href="" class="btn__pricing">Get Started<i
                                            class="fa-solid fa-arrow-right arrow-black"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="index__footer">
        <div class="container d-flex jct-bw">
            <div class="footer__detail col-md-6 col-12">
                <div class="detail__logo d-flex al-ct">
                    <a href="../index.html" class="logo__img">
                        <img src="../assets/logo/Logo.png" alt="" class="img-w-100">
                    </a>
                    <a href="../index.html" class="logo__text">
                        <p>Interno</p>
                    </a>
                </div>

                <div class="detail__text">
                    <p>It is a long established fact that a reader will be distracted lookings.</p>
                </div>

                <ul class="detail__icon d-flex jct-bw">
                    <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin-in"></i></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="footer__pages col-md-5 col-12">
                <h3 class="pages__title">Pages</h3>
                <ul class="pages__list">
                    <li><a href="../layout/page_about.html">About Us</a></li>
                    <li><a href="../layout/page_project.html">Our Projects</a></li>
                    <li><a href="../layout/page_team.html">Our Team</a></li>
                    <li><a href="../layout/page_team.html">Contact Us</a></li>
                    <li><a href="../layout/page_services.html">Services</a></li>
                </ul>
            </div>

            <div class="footer__services col-md-6 col-12">
                <h3 class="services__title">Services</h3>
                <ul class="services__list">
                    <li><a href="">Kitchan</a></li>
                    <li><a href="">Living Area</a></li>
                    <li><a href="">Bathroom</a></li>
                    <li><a href="">Dinning Hall</a></li>
                    <li><a href="">Bedroom</a></li>
                </ul>
            </div>

            <div class="footer__contact col-md-5 col-12">
                <h3 class="contact__title">Contact</h3>
                <ul class="contact__list">
                    <li class="footer__address"><a href="">55 East Birchwood Ave. Brooklyn, New York 11201</a></li>
                    <li><a href="">contact@interno.com</a></li>
                    <li><a href="">(123) 456 - 7890</a></li>
                </ul>
            </div>

        </div>
    </section>


    <div class="coppyright text-center">
        <p class="coppyright__text text-normal">
            Copyright ©
            <a href="" class="brown-color">Interno</a>
            | Designed by Victorflow Templates - Powered by Webflow
        </p>
    </div>
</body>
<script src="../js/index.js"></script>
</html>